<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Medication Manager</title>
</head>
<body>
<div align="center">
    <h1>Medication List</h1>
    <a href="/medications/new">Create New Medication</a>
    <br/><br/>
    <table border="1">
        <thead>
            <tr>
                <th>Medication ID</th>
                <th>Name</th>
                <th>Side effects</th>
                <th>Dosage (times per day)</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="medication : ${listMedications}">
                <td th:text="${medication.id}">Medication ID</td>
                <td th:text="${medication.name}">Name</td>
                <td th:text="${medication.sideEffects}">Side Effects</td>
                <td th:text="${medication.dosage}">Dosage (per day)</td>
                <td><a th:href="@{/medications/delete/{id}(id=${medication.id})}">Delete</a></td>
                <td><a th:href="@{/medications/edit/{id}(id=${medication.id})}">Update</a></td>
            </tr>
        </tbody>
    </table>
    <a href="/">Back to main menu</a>
</div>   
</body>
</html>